@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: hsl(0, 0%, 95%);
}

#container{
    display: flex;
    width: 918px;
    height: 500px;
    margin: 100px;
    border-radius: 8px;
    font-family: 'Lexend Deca', Arial, sans-serif;
}

.box-content{
    width: 306px;
    height: 500px;
    padding: 40px;
    background-color: hsl(31, 77%, 52%);
    border-radius: 8px 0 0 8px;
    color: hsl(0, 0%, 95%);
}

.content{
    margin-top: 30px;
}

.content h1{
    font-family: 'Big Shoulders Display', Arial, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}

.content p{
    margin: 40px 30px 0 0;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 25px;
}

.box-content button{
    margin-top: 80px;
    width: 130px;
    height: 40px;
    border-radius: 40px;
    text-align: center;
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 95%);
}

.box-content button a{
    font-family: 'Lexend Deca', Arial, sans-serif;
    color: hsl(0, 0%, 95%);
}

.box-content-suvs{
    width: 306px;
    height: 500px;
    padding: 40px 25px 40px 40px;
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
}

.box-content-suvs button{
    margin-top: 80px;
    width: 130px;
    height: 40px;
    border-radius: 40px;
    text-align: center;
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 95%);
}

.box-content-suvs button a{
    font-family: 'Lexend Deca', Arial, sans-serif;
    color: hsl(0, 0%, 95%);
}

.box-content-luxury{
    width: 306px;
    height: 500px;
    padding: 40px 25px 40px 40px;
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 8px 8px 0;
    color: hsl(0, 0%, 95%);
}

.box-content-luxury button{
    margin-top: 80px;
    width: 130px;
    height: 40px;
    border-radius: 40px;
    text-align: center;
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 95%);
}

.box-content-luxury button a{
    font-family: 'Lexend Deca', Arial, sans-serif;
    color: hsl(0, 0%, 95%);
}